.centerClass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logoText{
    font-size: 5rem;
}

.textField{
    display: flex;
    flex-direction: column;
    gap: 50px;
}